name: Makefile CI

on:
  push:
    branches: [ "Asteroids-user-14-UKQ1.241011.001-2507171803-release-keys" ]
  pull_request:
    branches: [ "Asteroids-user-14-UKQ1.241011.001-2507171803-release-keys" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: configure
      run: ./configure

    - name: Install dependencies
      run: make

    - name: Run check
      run: make check

    - name: Run distcheck
      run: make distcheck
